*.suo
*.filters
*.sdf
*.opensdf
/compile
/build
*.user
/FFTs/Debug
/bcryptprimitives.pdb/D2918AA6339744EDA39204642A7D65E71
/msvcrt.pdb/E4A7E37FD2E545B3B369E4DFE67957CE1
/packages/HtmlAgilityPack.1.4.9
/SpecParser/bin/Debug
/SpecParser/obj/Debug
/System.Data.DataSetExtensions.pdb/74804A74014B4184B3C124DCE2A693A11
/System.Xml.pdb/E364FACDD53C48F4B4FDE9C8C3A3FFDC2
/src/x64/Debug
/x64/Debug
/tools/SpecParser/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/tools/SpecParser/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/tools/SpecParser/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/tools/SpecParser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/tools/SpecParser/bin/Release
/src/tools/SpecParser/obj/Debug
/src/tools/SpecParser/obj/Release
